<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Chart Demo For Cloud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>  
    <link rel="stylesheet" href="../../../css/bootstrap.css" />
    <script src='https://www.google.com/jsapi'></script>
    <script src="../../../lib/angular.js"></script> 
    <script src="../../../lib/jquery/jquery-1.9.1.min.js"></script>
    <script src="../../../lib/angular-resource.js"></script>
    <script src="../../../lib/ng-google-chart.js"></script>
    <style type="text/css">
        label{display: inline-block;}
        #chartSelected{margin: 0;}
    </style>
</head>
<body ng-controller="myCtrl">
    <div class="chart-config">
        <label class="control-label" for="chartType">Chart type</label>
        <select id="chartType" ng-model="chart.type" ng-change="selectionChange()">
            <option value="AreaChart">AreaChart</option>
            <option value="PieChart">PieChart</option>
            <option value="ColumnChart">ColumnChart</option>
            <option value="Table">Table</option>
            <option value="BarChart">BarChart</option>
        </select>  

        <label class="control-label" for="chartSelected">Hide Server</label>
        <input id="chartSelected" type="checkbox" ng-model="hideServer" ng-change="selectionChange()" />
    </div>
    <div google-chart chart="chart" style="{{chart.cssStyle}}"></div>

    <script type="text/javascript">
        var app = angular.module('myApp', ['googlechart.directives']);
        google.load('visualization', '1', {packages: ['corechart']});

        function myCtrl($scope){
            var chart1 = {};
            chart1.type = "AreaChart";
            chart1.displayed = false;
            chart1.cssStyle = "height:600px;width:1024px;position:absolute;top:100px;margin-left:200px;";
            chart1.data = {
                "cols": [{
                    id: "month-id",
                    label: "Month",
                    type: "string"
                },{
                    id: "vm-id",
                    label: "VM",
                    type: "number"
                }, {
                    id: "disk-id",
                    label: "Disk",
                    type: "number"
                }, {
                    id: "snapshot-id",
                    label: "Snapshot",
                    type: "number"
                }],
                "rows": [{
                    c: [{v: "一月份"}, 
                        {v: 19}, 
                        {v: 12},
                        {v: 7}]
                }, {
                    c: [{v: "二月份"}, 
                        {v: 13}, 
                        {v: 10}, 
                        {v: 22}]
                }, {
                    c: [{v: "三月份"}, 
                        {v: 29}, 
                        {v: 52},
                        {v: 11}]
                }]
            };

            chart1.options = {
                "title": "Usage per month",
                "isStacked": "true",
                "fill": 20,
                "displayExactValues": true,
                "vAxis": {
                    "title": "Usage unit",
                    "gridlines": {
                        "count": 16
                    }
                },
                "hAxis": {
                    "title": "Date"
                },
                "is3D":true
            };

            $scope.chart = chart1;

            $scope.hideServer = false;
            $scope.selectionChange = function() {
                if ($scope.hideServer) {
                    $scope.chart.view = {
                        columns: [0, 1, 2]
                    };
                } else {
                    $scope.chart.view = {};
                }

                if($scope.chart.type == 'PieChart'){
                    var arr = $scope.chart.data.rows,
                        l = arr.length, temp = [],
                        len = arr[0].c.length;

                    for(var i = 0; i < l; i++){
                        var total = 0;
                        for(var j = 1; j < len; j++){
                            total += parseInt(arr[i].c[j].v);
                        }
                        temp.push({c: [{v: arr[i].c[0].v}, {v: total}]});
                    }
                    $scope.chart.data.rows = temp;
                }
            }
        }
    </script>
</body>
</html>
